{
    "presets": [
       "react",
       "stage-1"
       // Transpile React components to JavaScript
    ],
    "env": {
      "development": {
        "presets": [
          "env",
          "react-hmre"
        ],
        "plugins": [
          "transform-class-properties"
        ]
      },
      "production": {
        "presets": [
          [
            "env",
            {
              "es2015": {
                "modules": false
              }
            }
          ]
        ],
        "plugins": [
          "transform-react-constant-elements",
          "transform-react-remove-prop-types"
        ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
